@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;

  color-scheme: light dark;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
}

/* hero */

.hero-grid {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.hero-text h1,
.hero-text h2 {
  font-size: 88px;
  font-weight: 700;
  line-height: 88px;
}

.hero-text h2 {
  margin-bottom: 2rem;
}

.hero-text h2::before {
  content: "I'm ";
}

.hero-text h2::after {
  content: "Cipi Vlad.";
  text-decoration: underline rgb(162, 223, 162) 6px;
}

.hero-text p {
  font-size: 18px;
  line-height: normal;
}

.hero-text a {
  margin-top: 6rem;
  text-transform: uppercase;
  text-decoration: underline rgb(162, 223, 162) 2px;
  text-underline-offset: 12px;
  line-height: 26px;
}

.hero-text a:hover {
  color: rgb(162, 223, 162);
}

.hero-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: url('./img/andrew-kliatskyi-r4HT6aurLQw-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-image {
  width: 40%;
  height: 100%;
  background-image: url('/public/userpic/cipi24.png');
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
}


/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: none;
}

nav svg:hover {
  cursor: pointer;
  fill: rgb(162, 223, 162);
}

/* tools  */

#tools {
  margin-top: 10rem auto;
  height: 80vh;
}

.tools-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem;
  margin: 8rem;
}

.tools-text-card h2 {
  font-size: 48px;
  margin-bottom: 1rem;

}

.tools-text-card p {
  font-size: 18px;
  line-height: normal;
}

/* projects */

#projects {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

section>h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 1rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(6, 1fr); */
  gap: 8rem;
  margin: 8rem;
}


.project-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* 
css overlay
https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_slidetop
*/

.project-card:hover .overlay {
  bottom: 0;
  height: 100%;
}

.projects-flex-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
}

.projects-flex-headline h2 {
  font-size: 88px;
  margin-bottom: 1rem;
}

.projects-flex-headline div {
  display: flex;
  align-items: center;
}

.projects-flex-headline div a {
  text-decoration: underline rgb(162, 223, 162) 2px;
  text-underline-offset: 12px;
  font-size: 18px;
  text-transform: uppercase;
}

.projects-flex-headline div a:hover {
  color: rgb(162, 223, 162);
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #00000062;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .99s ease;
}

.overlay {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.overlay a {
  text-decoration: underline rgb(162, 223, 162) 2px;
  text-underline-offset: 12px;
  letter-spacing: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.overlay a:hover {
  color: rgb(162, 223, 162);
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-text h2,
.project-text p {
  margin-top: 1rem;
}

.show-more-container {
  text-align: center;
  margin-top: 1rem;
  display: block;
}

.show-more-container button {
  border: none;
  background-color: transparent;
  text-decoration: underline rgb(162, 223, 162) 2px;
  text-underline-offset: 12px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.show-more-container button:hover {
  color: rgb(162, 223, 162);
}

/* contact */

#contact {
  padding-top: 10rem;
  padding-bottom: 10rem;
  height: 100vh;
  background-color: #080808;
  /* center div in the middle of the screen */
  display: grid;
  place-items: center;

}

.contact-text h2 {
  font-size: 88px;
  margin-bottom: 1rem;
  text-align: center;
}

.contact-text p {
  font-size: 18px;
  line-height: normal;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}


.contact-mail a {
  text-decoration: underline rgb(162, 223, 162) 2px;
  text-underline-offset: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.contact-mail a:hover {
  color: rgb(162, 223, 162);
}



/* footer */

footer {
  padding: 2rem;
  text-align: center;
  background-color: #080808;
  font-size: 18px;
}



/* media queries */

/* small devices (landscape phones, 576px and up) */
@media screen and (max-width: 480px) {

  /* hero */
  .hero-text h2 {
    font-size: 32px;
  }

  /*  tools */

  #tools {
    height: 100vh;
  }

  .tools-grid {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 4rem;
  }

  .tools-grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tools-grid div h2 {
    font-size: 32px;
  }

  .tools-grid div p {
    font-size: 18px;
    text-align: center;
  }

  /* projects */

  #projects {
    padding-top: 20rem;
    /* height: 100vh; */
  }

  .projects-flex-headline {
    padding: 0 2rem;
    margin-bottom: 8rem;
    flex-direction: column;
  }

  .projects-flex-headline h2 {
    font-size: 66px;
  }

  .project-grid {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 1rem;
  }

  .project-grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-grid div h2 {
    font-size: 24px;
  }

  .overlay a {
    text-decoration: underline rgb(162, 223, 162) 2px;
    text-underline-offset: 12px;
    letter-spacing: 5px;
    font-size: 18px;
    text-transform: uppercase;
  }

  /* contact */

  #contact {
    padding-top: 10rem;
    padding-bottom: 10rem;
    height: 100vh;
  }

  .contact-text h2 {
    font-size: 66px;
  }

  .contact-text p {
    font-size: 18px;
    width: 100%;
  }

  #contact svg {
    display: none;
  }

}